* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #2f3640;
    padding: 16px 0;
    color: rgb(223, 222, 222);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 20px;
}

header li a {
    color: rgb(223, 222, 222);
    text-decoration: none;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 100px;*/
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.articles article h3 {
    font-size: 20px;
}
section h2 {
    font-size: 30px;
}

#sports {
    background-color: rgb(230, 255, 230);
}

#sports .articles article a {
    background-color: rgb(101, 195, 132);
}

#economy {
    background-color: rgb(254, 254, 202);
}

#economy .articles article a {
    background-color: rgb(255, 182, 47);
}

#entretenimento {
    background-color: rgb(255, 216, 223);
}

#entretenimento .articles article a {
    background-color: rgb(219, 145, 158);
}

#tecnologia {
    background-color: rgb(212, 212, 254);
}

#tecnologia .articles article a {
    background-color: rgb(150, 150, 214)
}

.data {
    color: gray;
}